.App-header {
  border-bottom: 1px solid #34363d;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.App-header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.App-title {
  color: #b9bece;
  font-size: 1.2em;
  margin-right: 8px;
}

.App-logo {
  height: 80%;
  margin-right: 5px;
}

.App-loader-container {
  position: fixed;
  left: 50%;
  top: 50%;
}

main {
  width: 1000px;
  margin: 0 auto;
}
