.Payroll-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  color: whitesmoke;
}

.Payroll-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  height: 200px;
}

.Payroll-main-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.Payroll-about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Payroll-image {
  border-radius: 50%;
  width: 200px;
}

.Payroll-name {
  font-size: 2em;
  margin-bottom: 10px;
}

.Payroll-title {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.Payroll-websites {
  display: flex;
  flex-direction: row;
}

.Payroll-websites > a {
  color: whitesmoke;
  opacity: 60%;
  margin-bottom: 20px;
}

.Payroll-intro {
  margin-bottom: 50px;
}

.Payroll-skill-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 60px;
  gap: 10px;
}

.Payroll-skill-badge {
  display: block;
  background-color: #00fff8;
  color: #34363d;
  padding: 5px 20px;
  border-radius: 15px;
}

.Payroll-subheader {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.Payroll-section {
  margin-bottom: 30px;
}

.Payroll-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Payroll-button-container > a {
  background-color: #00fff8;
  display: block;
  font-weight: bold;
  color: #34363d;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.Payroll-button-container > a:active {
  background-color: #00cfc8;
}
