.Login-wrapper {
  width: 400px;
  height: 420px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.Login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.Login-logo {
  width: 200px;
  margin-bottom: 20px;
}

.Login-title {
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-input-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

input {
  width: calc(100%-20px);
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  color: #14161a;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

input:focus {
  outline: 2px solid #00fff8;
}

input:invalid {
  outline: 2px solid #ff4800;
}

.Login-label {
  color: whitesmoke;
  margin-bottom: 10px;
}

.Login-button {
  background-color: #00fff8;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #14161a;
  cursor: pointer;
}

.Login-button:active {
  background-color: #00cfc8;
}

.Login-text {
  color: whitesmoke;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
