.Exp-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin-bottom: 40px;
}

.Exp-logo {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 20px;
}

.Exp-logo-default {
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00fff8;
  font-size: 2em;
  font-weight: bold;
}

.Exp-text-block * {
  margin-bottom: 5px;
}

.Exp-item h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.Exp-item h2 {
  font-size: 1em;
  font-style: italic;
}

.Exp-description {
  margin-top: 20px;
}
